version: "3.8"
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: myappdb

  backend:
    image: rajendra3/backend:latest
    build:
      context: ./backend
    restart: unless-stopped
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/myappdb
    depends_on:
      - mongo
    networks:
      - appnet

  frontend:
    image: rajendra3/frontend:latest
    build:
      context: ./frontend
    restart: unless-stopped
    ports:
      - "4200:80"
    networks:
      - appnet

  nginx:
    image: nginx:stable-alpine
    container_name: devops-assignment-nginx-1
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - appnet

volumes:
  mongo-data:

networks:
  appnet:
    driver: bridge

# version: '3.8'

# services:
#   mongo:
#     image: mongo
#     container_name: mongo
#     ports:
#       - "27017:27017"
#     volumes:
#       - mongo-data:/data/db

#   backend:
#     image: boobu/backend-mean
#     container_name: backend
#     ports:
#       - "8080:8080"
#     depends_on:
#       - mongo
#     environment:
#       - MONGO_URL=mongodb://mongo:27017/dd_db

#   frontend:
#     image: boobu/frontend-mean
#     container_name: frontend
#     ports:
#       - "80:80"
#     depends_on:
#       - backend

# volumes:
#   mongo-data:
